
@{
    ViewBag.Title = "All";
}

<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="~/Content/images/GermanWolfspitz.png" alt="" class="image dog-image">
                </div>
                <div class="col pt-4">
                    <p>Немецкий шпиц</p>
                </div>
                <div class="col pt-4">
                    <p>Германия</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="~/Content/images/Chihuahua.png" alt="" class="image dog-image">
                </div>
                <div class="col pt-4">
                    <p>ЧИХУАХУА</p>
                </div>
                <div class="col pt-4">
                    <p>Мексика</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="~/Content/images/Yorkshire.jpg" alt="" class="image dog-image">
                </div>
                <div class="col pt-4">
                    <p>Йоркширский терьер</p>
                </div>
                <div class="col pt-4">
                    <p>Великобритания</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <img src="~/Content/images/GermanShepherdDog.png" alt="" class="image dog-image">
                </div>
                <div class="col pt-4">
                    <p>Немецкая овчарка</p>
                </div>
                <div class="col pt-4">
                    <p>Германия</p>
                </div>
            </div>
        </li>
    </ul>
</div>

