@model PawsAndEars.Models.Dog

@{
    ViewBag.Title = "Delete";
}

<h3>Вы уверены, что хотите удалить данные @Html.DisplayFor(model => model.Name)?</h3>
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку питомцев", "GetAll", null, new { @class = "nav-link", @style = "display: inline-block;" })
        </div>
    }
</div>
