@model PawsAndEars.Models.Dog

@{
    ViewBag.Title = "Delete";
}

<h3>Вы уверены, что хотите удалить данные ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку питомцев", "GetAll", null, new { @class = "nav-link", @style = "display: inline-block;" })
        </div>
    }
</div>
